
TestToSBC/TestToSBC/settings.py
TestToSBC/MyApp1/__pycache__/__init__.cpython-310.pyc
TestToSBC/MyApp1/__pycache__/admin.cpython-310.pyc
TestToSBC/MyApp1/__pycache__/apps.cpython-310.pyc
TestToSBC/MyApp1/__pycache__/models.cpython-310.pyc
TestToSBC/MyApp1/__pycache__/urls.cpython-310.pyc
TestToSBC/MyApp1/__pycache__/utils.cpython-310.pyc
TestToSBC/MyApp1/__pycache__/views.cpython-310.pyc
TestToSBC/MyApp1/migrations/__pycache__/0001_initial.cpython-310.pyc
TestToSBC/MyApp1/migrations/__pycache__/__init__.cpython-310.pyc
TestToSBC/MyApp1/recomenderFolder/__pycache__/recomender.cpython-310.pyc
TestToSBC/TestToSBC/__pycache__/__init__.cpython-310.pyc
TestToSBC/TestToSBC/__pycache__/settings.cpython-310.pyc
TestToSBC/TestToSBC/__pycache__/urls.cpython-310.pyc
TestToSBC/TestToSBC/__pycache__/wsgi.cpython-310.pyc