
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS-->
    <link rel="stylesheet" href=" {%  static 'style\bienvenida.css' %} ">
    <link rel="stylesheet" href=" {%  static 'style\footer.css' %} ">
    <link rel="stylesheet" href=" {%  static 'style\entornos.css' %} ">
    <link rel="stylesheet" href=" {%  static 'style\experto.css' %} ">
    <link rel="stylesheet" href=" {%  static 'style\noExperto.css' %} ">

    <link rel="stylesheet" href=" {%  static 'style\header.css' %} ">
    
    <link rel="stylesheet" href=" {%  static 'style\recomendacion.css' %} ">






    <!-- FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    
    <!-- HEADER ------------------------------------------------------------------------------>
    <header class="header">

        <form action=" {% url 'home'%}">

            <button class="btnLogo">
                <!--LOGO-->
                <img src=" {% static 'img/Logo Lrecomender.svg' %} " > 
                
            </button>

        </form>
        
        


        
       <!--lISTA-->
       <div class="header-opciones">

            <ul><a href="{% url 'home' %}">Inicio</a></ul>
            <ul> <a href="{% url 'entornos' %}">Entornos</a></ul>

     
            <!--BOTONES-->
            <div class="header-botones">
                <!--
                <button class="btnLogin">Login</button>  
                <button class="btnRegistro">Sign Up</button>
                    -->
                <button class="btnPerfil">
                    <img src="{% static 'img/userPerfil.png' %}" alt="">
                </button>
                {% if request.user.is_authenticated %}
                <p>{{request.user}}</p>
                {% endif %}

            </div>

       </div>


    </header>

    <!--CONTENIDO-->
    {% block content %}
   
    {% endblock %}

   
    <!-- FOOTER ----------------------------------------------------------------------------
    <footer>
        <div class="footer-redes">
        <p>© 2024 LRecomender. Todos los derechos reservados.</p>
    </footer>
-->

    <script src= "{% static 'js/scrollToSection.js' %}"> </script>
    <script src= "{% static 'js/btnSelection.js' %}"> </script>
    <script src= "{% static 'js/btnSelectionSF.js' %}"> </script>
    <script src= "{% static 'js/filtrarSF.js' %}"> </script>

    <script src= "{% static 'js/copyBtn.js' %}"> </script>
    <script src= "{% static 'js/btnTipoUsuario.js' %}"> </script>



</body>
</html>