/*GENERAL*/
.container-entornos {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


.contenedorEspeEntornos{

    display: flex;
    justify-content: center;
    align-items: stretch;
   
}

.environment {
    
    width: 35%;
    padding: 20px;

 
}

.environment-icono{
    display: flex;
    justify-content: left;

    margin-bottom: 2rem;
}





.environment button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);

    background-color: #fff;

    color: rgb(0, 0, 0);

    border: none;
    border-radius: 20px;

    padding: 2rem;
    cursor: pointer;

    transition: background-color 0.3s ease;


    
    /* Chat como hago para que este btn tome el mañao del div mas grande que el? */
    height: 100%

}

.environment button:hover {
    background-color: #e5efff;
    transform:  scale(calc(1 + 0.01));
 
    border-bottom: 3px solid #7eb2ff;
}


.environment button h2{
    font-size: 1.5rem;
    font-weight: 600;
    height: auto;
    padding-top: 0.2rem;
    margin-left: 1rem;

}

.environment button p{
    margin-top: 1rem;
    text-align: justify;
}

.environment button ul{
    margin-top: 1rem;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
}


.environment button li{
    margin-top: 0.5rem;
    text-align: justify;
  
}


.contenedorEspeEntornos{
    display: flex;
    justify-content: center;

    flex-wrap:  wrap;
  
}


.entornoRecomendado h1 {
    text-align: end;
    font-size: 0.8rem;
    /*ESTILO DE LETRA*/
    color: #3885FC;
    font-style: italic;
}


.preguntas-img img{

    width: 25rem
}

.preguntas-opciones{
    margin-top: 10rem;
    margin-left: 1.5rem;
}
    
.preguntas{
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding-left: 15rem;
    padding-right: 15rem;

    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}


.preguntas h1{
   font-size: 1.5rem;


}

.preguntas-inputs{

    margin-top: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;

 }
 


/* CONTENEDOR DEL CHECK BOX */

.preguntas-inputs button {
    width: calc(33.33% - 10px); /* Ajustar para que quepan 3 por fila */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 0.8rem;

}

.preguntas-inputs button:hover{
    background-color:#3885FC;
    color: #fff;
    border: 1px solid #3885FC;
    transition: 300ms;
    
    font-weight: 600;
}