
.containerExperto {
    display: flex;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin-top: 3rem;

    margin-bottom: 5rem;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.SeccionStyle {
    width: 60%;
    padding: 20px;
    border-radius: 10px;
}

.SeccionStyle h2{
   font-weight: 500;
   font-size: 1.5rem;
}


/*BOTONES -- - - - - - -  -*/
.secciones{
    display: flex;
   
    padding: 1rem;
    border-bottom: 2px solid #3885FC;

    margin-bottom: 1rem;

}

.secciones button{
    padding: 0.2rem;
    border: none;
    border-left: 2px solid #3885FC;
    background-color: white;
    cursor:pointer;
    margin-right: 1rem;

    width: 5rem;
}

.secciones button:hover{

    color: #3885FC;
    margin-right: 2rem;
    transition: 0.5s;
}



/*BUSQUEDAD -- - - - - - -  -*/
.barraDeBusquedad input {
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
    border: none;
    
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    
    margin-bottom: 20px;
    outline: none;
}

.barraDeBusquedad input:hover {
    border-bottom: 3px solid #7eb2ff;
}

.hardwareList {
    max-height: 350px;
    overflow-y: auto;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.hardwareSection {
    margin-bottom: 20px;

}

.hardwareSection h3 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1em;
    font-weight: 400;
    
}

.hardwareItem {
    width: calc(33.33% - 10px); /* Ajustar para que quepan 3 por fila */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}

.hardwareItem:nth-child(3n) {
    margin-right: 0; /* Eliminar el margen derecho del tercer elemento en la fila */
}

.hardwareList:after {
    content: "";
    display: table;
    clear: both;
}

.seccionResumen h2 {
    margin-top: 0;
}

.selected-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
}

.selected-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .containerExperto {
        flex-direction: column;
        align-items: center;
    }

    .SeccionStyle {
        width: 100%;
        margin-bottom: 20px;
    }


}