.panel-completo{

    display: flex;
    justify-content: center;

    padding-top: 2rem;
    font-weight: 400;
    flex-wrap: wrap;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}


.text-rec{
    text-align: center;
}


#register-form .center-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {

    width: 100%;

    padding: 10px;
    display: inline-block;
    border: none;
    border-bottom: 2px solid #9da6b3;

    box-sizing: border-box;
    outline: none;
    caret-color: #006DA4;
    transition: border-color 0.3s;

    margin-bottom: 2rem;


    font-size: 1rem;

}


.form-control:focus{
    border-bottom: 2px solid #3885FC;
}

.btn-primary {
    background-color: #fff;
    color: #3885FC;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;

    font-size: 1rem;
    border: 2px solid #3885FC   ;

}

.btn-primary:hover {
    transition: 0.5s;
    background-color: #428cfc;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

.errorlist{
    padding: 0;
    color: black;
    list-style-type: none;
    margin: 0px;
    background-color: #FFDDDF;
    border: 1px solid #FEA6AD;
    border-radius: 3px;
    padding: 5px;
}




.contenedor-img:hover .overlay{
    height: 100%;
}



.contenedor-img h2{
    color: #3885FC;
}



.cont-tit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #d9e4f5;
}

.cont-tit img{
    width: 170px;
}

.panel-principal{
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}


.side-info{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 480px;
    background-color: #3885FC; /* Color de fondo blanco con opacidad */
    padding: 25px;
    border-radius: 25px 0 0 25px;

    background-image: url("../img/2251796.jpg");
    background-size: cover;
    
}


.panelmensajes{
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    opacity: 1.0;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.contenedor-mensajesv{
    width: 95%;
}

.contenedor-mensajesv p{
    font-style: italic;
}




.tipo-mensajev{
    color: white;
}

.mensajev{

    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: justify;
    justify-content: center;
  
}

.text-side h2{
    color: #ffffff;
    font-size:1rem;
    margin-top: 2rem;

}

.text-side p{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size:1rem;
    text-align: start;
    margin-top: 0.5rem;

}


#register-form{
    width: 90%;
}

.contenedor-register{
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    min-height: 500px;
    max-height: 580px;
    background-color: white;
    padding: 25px;
    border-radius: 0 25px 25px 0;
    color: #395886;



}

.contenedor-register h2{
    width: 90%;
    text-align: left;

    margin-bottom: 2rem;


    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;

    color: #000;
}