{% extends 'layouts/base.html' %}

{% load static %}
{% block content %}

{% if page == 'login' %}



<div class="panel-completo">
    
    
    <div class="top-bento">

        <div class="contenedor-img">
            <img src="{% static 'img/3646517.jpg' %}" alt="oficinista" class="oficinista">
            
            <div class="overlay">
                <p class="parr">{{random_mensaje}}</p>
            </div>
            
        </div>
        <div class="contenedor-login">

            <div class="content-login">

            <h2>login</h2>

                <form action="" method="post" class="form-login" id="register-form" autocomplete="off">

                    <div class="elementos">

                        {% csrf_token %}

                       
                        <input type="text" id="usuario" name="usuario" placeholder="Usuario" autocomplete="off">
                        <input type="password" id="pass" name="pass" placeholder="Contraseña">

                        <button type="submit" name="login">Iniciar Sesión</button>

                    </div>

                </form>

                <script>
                    document.addEventListener('DOMContentLoaded', (event) => {
                        document.querySelector('#usuario').focus();
                    });
                </script>

                <div class="error-login">
                    {% if error_message %}

                        <p>{{ error_message }}</p>
                        
                    {% endif %}
                </div>


                <p class="text-login">No tienes cuenta? <a href="{% url 'register' %}">Registrarse</a></p>

                
                
            </div>

        </div>

    </div>

    <div class="contenedor-mensajes">
        <p class="mensaje">{{ contenido_mensaje }}</p>
    </div>
    
   
    
   
</div>

{% elif page == 'register' %}

<div class="panel-principal">

    <div class="register-back-img">

        <div class="side-info">
            
            <div class="panelmensajes">

               

                <div class="text-side">

                    <h2>UNETE A LA COMUNIDAD DE LRECOMENDER</h2>
                    
                    <p>Al registrarte y unirte, podrás guardar las recomendaciones que desees. ¿Qué estás esperando?</p>

                </div>

                <div class="contenedor-mensajesv">
                    <p class="mensajev">{{ contenido_mensaje }}</p>
                </div>

            </div>
        </div>
    </div>

    <div class="contenedor-register">

        <h2 class="text-rec">SingUp</h2>

        <div class="message-container">
            {% if messages %}

            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}

        </div>


        <form action="" method="post" id="register-form">

            {% csrf_token %}
            {{ form.as_p }}

            <div class="center-button">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>

        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                document.querySelector('#register-form input').focus();
            });
        </script>

    </div>

</div>

{% endif %}

{% endblock content %}