{% extends 'layouts/base.html' %}

{% load static %}




{% block content %}

    <div class="contenedorPerfil">

        <div class="profile-container">

            <div class="imgNameProfile">
                
                <img class="profile-image" src="{% static 'img/userPerfil.png' %}" alt="Profile Image" />
        
                <div class="profile-details">
    
                    <h1 class="profile-name">{{ user.first_name }} {{ user.last_name }}</h1>
                    <p class="profile-username">@{{ user.username }}</p>
    
                </div>
            </div>

            <form action="{% url 'logout' %}">

                <button class="btnLogout">
                    <!-- <img src="{% static 'img/logoutBlack.png' %}" alt=""> -->
                </button>

            </form>

            

        </div>
        
        <hr class="divider" />
        
        <div class="details-container">

            <div class="personal-details">

                <h3>Detalles personales</h3>

                <div class="details-box">

                    <div class="details-row">
                        <p>Nombre completo</p>
                        <p class="details-value">{{ user.first_name  }} {{ user.last_name  }}</p>
                    </div>
                    <div class="details-row">
                        <p>Tipo de usuario</p>
                        <p>Miembro de <strong class="details-highlight">LRecomender</strong></p>
                    </div>
                </div>
            </div>

            <div class="account-details">

                <h3>Detalles de cuenta</h3>
                <div class="details-box">
                    <div class="details-row">
                        <p>Correo electrónico</p>
                        <p class="details-value">{{ user.email }}</p>
                    </div>
                    <div class="details-row">
                        <p>Se unió desde</p>
                        <p class="details-value">{{ user.date_joined}}</p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="divider" />

        <!-- HISTORIAL -->
        <div class="historial">

            <h2>Historial de Recomendaciones</h2>
            <table>
                <thead>
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Marca del Procesador</th>
                        <th>Tier del Procesador</th>
                        <th>Número de Núcleos</th>
                        <th>Número de Hilos</th>
                        <th>Memoria RAM (GB)</th>
                        <th>Tipo de Almacenamiento Primario</th>
                        <th>Capacidad de Almacenamiento Primario (GB)</th>
                        <th>Tipo de Almacenamiento Secundario</th>
                        <th>Capacidad de Almacenamiento Secundario (GB)</th>
                        <th>Marca de GPU</th>
                        <th>Tipo de GPU</th>
                        <th>Fecha Guardada</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in historial %}
                        <tr>
                            <td>{{ item.brand }}</td>
                            <td>{{ item.model }}</td>
                            <td>{{ item.processor_brand }}</td>
                            <td>{{ item.processor_tier }}</td>
                            <td>{{ item.num_cores }}</td>
                            <td>{{ item.num_threads }}</td>
                            <td>{{ item.ram_memory }}</td>
                            <td>{{ item.primary_storage_type }}</td>
                            <td>{{ item.primary_storage_capacity }}</td>
                            <td>{{ item.secondary_storage_type }}</td>
                            <td>{{ item.secondary_storage_capacity }}</td>
                            <td>{{ item.gpu_brand }}</td>
                            <td>{{ item.gpu_type }}</td>
                            <td>{{ item.date_saved }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
   



{% endblock %}