{% extends '../layouts/base.html' %}

{% block content%}

    <div class="containerExperto">
        
        <!--SECCIÓN DE SELECCIÓN-->
        <div class="SeccionSeleccion SeccionStyle">
            <h2>Selecciona especifiaciones Hardware</h2>

            <div class="barraDeBusquedad">
                <input type="text" placeholder="Intel I9">
            </div>


            <div class="hardwareList">
             
                <div class="hardwareSection">
      
                    <!-- MODELOS DE LOS PROCESADORES - - - - - - -->
                    {% for cpuModel in modeloProcesadores %}

                        <button id="cpu" class="hardwareItem">
                            {{ cpuModel }}
                        </button>

                    {% endfor %}
                    
                    <h2>RAM</h2>

                    <!-- RAM - - - - - - -->
                    {% for ram in ram %}

                        <button id="ram" class="hardwareItem">
                            {{ ram }}
                        </button>

                    {% endfor %}

                    <h2>DISK</h2>
                    
                    <!-- RAM - - - - - - -->
                    {% for disk in disk %}

                        <button id="disk" class="hardwareItem">
                            {{ disk }}
                        </button>

                    {% endfor %}
                 
                    
                    
                </div>

                <!-- Repetir para cada letra del abecedario según sea necesario -->
            </div>


        </div>

        <!--SECCIÓN DE RESUMEN-->
        <div class="seccionResumen  "> 
            <h2>Resumen</h2>
    
        </div>

    </div>
    
{% endblock %}