{% extends '../layouts/base.html' %}

{% block content%}

    <div class="containerExperto">
        
        <!--SECCIÓN DE SELECCIÓN-->
        <div class="SeccionSeleccion SeccionStyle">
            <h2>Selecciona especifiaciones Hardware</h2>

            <div class="barraDeBusquedad">
                <input type="text" placeholder="Intel I9">
            </div>


            <div class="hardwareList">
                <!-- Sección por letras del abecedario -->
                <div class="hardwareSection">
                    <h3>A</h3>
                    <div class="hardwareItem">AMD Ryzen 7</div>
                    <div class="hardwareItem">AMD Ryzen 7</div>
                    <div class="hardwareItem">AMD Ryzen 7</div>
                    <div class="hardwareItem">AMD Ryzen 7</div>
                    <div class="hardwareItem">AMD Ryzen 7</div>
                    <div class="hardwareItem">AMD Ryzen 7</div>
                    <div class="hardwareItem">AMD Ryzen 7</div>
                    <div class="hardwareItem">AMD Ryzen 7</div>
                    <div class="hardwareItem">AMD Ryzen 7</div>
                    <div class="hardwareItem">AMD Ryzen 7</div>
                    <div class="hardwareItem">AMD Ryzen 7</div>
                    <div class="hardwareItem">AMD Ryzen 7</div>
                    <div class="hardwareItem">AMD Ryzen 7</div>
                    <div class="hardwareItem">AMD Ryzen 7</div>
                    <div class="hardwareItem">AMD Ryzen 7</div>
                    <div class="hardwareItem">AMD Ryzen 7</div>
                    <div class="hardwareItem">AMD Ryzen 7</div>
                    <div class="hardwareItem">AMD Ryzen 7</div>
                    
                    <!-- Más divs de hardware con la letra A -->
                </div>
                <div class="hardwareSection">
                    <h3>B</h3>
                    <div class="hardwareItem">Brand X Model Y</div>
                    <!-- Más divs de hardware con la letra B -->
                </div>
                <!-- Repetir para cada letra del abecedario según sea necesario -->
            </div>


        </div>

        <!--SECCIÓN DE RESUMEN-->
        <div class="seccionResumen  "> 
            <h2>Resumen</h2>
    
        </div>

    </div>
    
{% endblock %}