{% extends '../layouts/base.html' %}

{% load static %}
{% block content%}

    
    <div class="containerExperto">

       
        
        <!--SECCIÓN DE SELECCIÓN----------------------------------------->
        <div class="SeccionSeleccion SeccionStyle">

            <div class="idk" id="cambiarNoExperto">

                <a href="{% url 'entornoNoExperto' %}"> ↻ Cambiar de entorno</a>
        
            </div>
            <h2>Selecciona especifiaciones Hardware</h2>
            
            <!--
            <div class="barraDeBusquedad">
                <input type="text" placeholder="Intel I9">
            </div>-->

           
            <dir class="secciones">
                <button class="secciones-btn" onclick="scrollToSection('cpuTitle')">CPU</button>
                <button class="secciones-btn" onclick="scrollToSection('ramTitle')">RAM</button>
                <button class="secciones-btn" onclick="scrollToSection('diskTitle')">DISK</button>
            </dir>


            <div class="hardwareList">
             
                <div class="hardwareSection">

                    <!-- MODELOS DE LOS PROCESADORES =============================================================-->
                    <div class="cpuModel">
                        
                        <h3 id="cpuTitle">CPU</h2>

                        <!-- insertamos los modelos de procesadores de la BD - - - - - - -->
                            {% for cpuModel in modeloProcesadores %}
        
                                <button  class="hardwareItem" data-index="{{ forloop.counter }}">
                                    {{ cpuModel }}
                                </button>
        
                            {% endfor %}
                            
                    </div>

                    <!-- CANTIDADES RAM ============================================================= - - - - - - -->
                    <div class="ramAmount">
                        
                        <h3 id="ramTitle">RAM</h2>

                        <!--insertamos las cantidades de ram disponibles en la BD - - - - - - -->
                        {% for ram in ram %}
    
                            <button class="hardwareItem">
                                {{ ram }}
                            </button>
    
                        {% endfor %}

                    </div>


                    <!-- CANTIDADES DISK ============================================================= - - - - - - -->
                    <div class="diskAmount">
                        
                        <h3 id="diskTitle">DISK</h2>
                        
                        <!--insertamos las cantidades de Disk disponibles en la BD - - - - - - -->
                        {% for disk in disk %}
    
                            <button class="hardwareItem">
                                {{ disk }}
                            </button>
    
                        {% endfor %}

                    </div>
                    
                 
                
                </div>

            </div>


        </div>

        <!--SECCIÓN DE RESUMEN = = ============================================================-->
        <div class="seccionResumen"> 
            <h2>Resumen</h2>

            <!--SECCIÓN DE RESUMEN-->
    
            <div class="seccionResumen-especificaciones">

                <!--CPU =   = == = = == ========= == = = = = = = = = = = = = =-->
                <div class="seccionResumen-especificaciones-item">

                    <img src="{% static 'img/iconoCPU.png' %}" alt="">
                    <h3>CPU:</h3>

                    <p id="pcpu">No Seleccionado</p>
                    
                </div>

                <!--RAM =   = == = = == ========= == = = = = = = = = = = = = =-->
                <div class="seccionResumen-especificaciones-item">
                    <img src="{% static 'img/iconoRam2.png' %}" alt="">
                    <h3>RAM (GB):</h3>

                    <p id="pRam">No Seleccionado</p>

                </div>

                <!--DISK =   = == = = == ========= == = = = = = = = = = = = = =-->
                <div class="seccionResumen-especificaciones-item">
                    <img src="{% static 'img/iconoDisk.png' %}" alt="">
                    <h3>DISK (GB):</h3>

                    <p id="pDisk">No Seleccionado</p>
                </div>

                 <!--BOTON SOLICITAR RECOMENDACIÓN-->    
                <div class="seccionResumen-especificaciones-btn">
                    
                    <!-- Generar recomendación-->
                    <form method="POST">
                        {% csrf_token %}
                        <!--INPUTS OCULTAS-->    
                        <input type="hidden" id="cpuInput" name="cpuInput">
                        <input type="hidden" id="ramInput" name="ramInput">
                        <input type="hidden" id="diskInput" name="diskInput">
    
                        <!--BUTTONS-->    
                        <button id="generarR" type="submit" style="display: none;">
                            Generar Recomendación
                        </button>

                    </form>

                </div>


            </div>

        </div>

    </div>


   

{% endblock %}