{% extends '../layouts/base.html' %}

{% block content%}


<div class="containerExperto">
    <!--SECCIÓN DE SELECCIÓN----------------------------------------->
    
    <div class="SeccionSeleccion SeccionStyle">
        <h2>Selecciona tu lista de software</h2>
        
        <!--SECCIÓN DE SELECCIÓN----------------------------------------->
        <div class="barraDeBusquedad">
            <input type="text" placeholder="Intel I9">
        </div>
        
        <div class="hardwareList">
            <div class="hardwareSection">
                
                
                <h3 id="Ofimática">OFIMÁTICA</h2>
                   
        
                    <button class="hardwareItem">
                       WORD
                    </button>
        
                    <button class="hardwareItem">
                        POWER POINT
                     </button>
        
                     <button class="hardwareItem">
                        TEAMS
                     </button>
        
                     <button class="hardwareItem">
                        EXCEL
                     </button>
        
                <h3 id="Juegos">PROGRAMACIÓN</h2>

                    <button class="hardwareItem">
                        VISUAL STUDIO CODE
                     </button>

                     <button class="hardwareItem">
                        VISUAL STUDIO
                     </button>

                     <button class="hardwareItem">
                        UNITY
                     </button>
        
                <h3 id="Juegos">JUEGOS</h2>
                
                </div>
            



            </div>
    </div>

     <!--SECCIÓN DE RESUMEN-->
     <div class="seccionResumen">
         
         <h2>Resumen</h2>

     </div>

</div>
{% endblock %}