{% extends '../layouts/base.html' %}

{% load static %}
{% block content%}


    <div class="recomendaciones">
     
        <!---DIV OPCIÓN #1 ======================================================================-->
        <div class="laptop uno">
            <div class="laptop-pcR">
             
                <h1>#1</h1>
            </div>

            <p>Lenovo</p>

            <div class="laptop-modelo-copy">

                <h1 id="modeloPC1">ThinkPad X1 Carbon</h1>

                <div>
                    <button id="btnGuardar">
                        <img src="{% static 'img/save.png' %}" alt="">
                    </button>
             
                    <button id="copyButton1">
                        <img src="{% static 'img/copy.png' %}" alt="">
                    </button>
                </div>
                
                
            </div>
            
            <!--CPU =   = == = = == ========= == = = = = = = = = = = = = =-->
            <div class="recomendaciones-item">

                <img src="{% static 'img/iconoCPU.png' %}" alt="">
                <h3>CPU:</h3>
                
                <p id="pcpu">Intel Core i7, 4 núcleos, 8 hilos</p>

            </div>

        
            <!--RAM =   = == = = == ========= == = = = = = = = = = = = = =-->

            <div class="recomendaciones-item">
                <img src="{% static 'img/iconoRam2.png' %}" alt="">
                <h3>RAM (GB):</h3>
                
                <p id="pRam">8</p>

            </div>

            <!--ALMACENAMIENTO=   = == = = == ========= == = = = = = = = = = = = = =-->
            <div class="recomendaciones-item">
                <img src="{% static 'img/iconoDisk.png' %}" alt="">
                <h3>Storage #1</h3>

                <p id="pDisk1">SSD, 512 GB</p>
            </div>

            <!--ALMACENAMIENTO=   = == = = == ========= == = = = = = = = = = = = = =-->
            <div class="recomendaciones-item">
                <img src="{% static 'img/iconoDisk.png' %}" alt="">
                <h3>Storage #2</h3>

                <p id="pDisk2">HDD, 1000 GB</p>
            </div>


            <!--GPU=   = == = = == ========= == = = = = = = = = = = = = =-->
            <div class="recomendaciones-item">
                <img src="{% static 'img/iconoGPU.png' %}" alt="">
                <h3>GPU:</h3>

                <p id="pGpu">NVIDIA GeForce MX250</p>
            </div>

           

        </div>

        <!---DIV OPCIÓN #2 ======================================================================-->
        <div class="laptop dos">
            <div class="laptop-pcR">
                <h1>#2</h1>
            </div>

            <p>Lenovo</p>

            <div class="laptop-modelo-copy">

                <h1 id="modeloPC2">ThinkPad X1 Carbon 2</h1>

                <div>
                    <button id="btnGuardar">
                        <img src="{% static 'img/save.png' %}" alt="">
                    </button>
             
                    <button id="copyButton1">
                        <img src="{% static 'img/copy.png' %}" alt="">
                    </button>
                </div>
                
            </div>
            
            <!--CPU =   = == = = == ========= == = = = = = = = = = = = = =-->
            <div class="recomendaciones-item">

                <img src="{% static 'img/iconoCPU.png' %}" alt="">
                <h3>CPU:</h3>
                
                <p id="pcpu">Intel Core i7, 4 núcleos, 8 hilos</p>

            </div>

        
            <!--RAM =   = == = = == ========= == = = = = = = = = = = = = =-->

            <div class="recomendaciones-item">
                <img src="{% static 'img/iconoRam2.png' %}" alt="">
                <h3>RAM (GB):</h3>
                
                <p id="pRam">8</p>

            </div>

            <!--ALMACENAMIENTO=   = == = = == ========= == = = = = = = = = = = = = =-->
            <div class="recomendaciones-item">
                <img src="{% static 'img/iconoDisk.png' %}" alt="">
                <h3>Storage #1</h3>

                <p id="pDisk1">SSD, 512 GB</p>
            </div>

            <!--ALMACENAMIENTO=   = == = = == ========= == = = = = = = = = = = = = =-->
            <div class="recomendaciones-item">
                <img src="{% static 'img/iconoDisk.png' %}" alt="">
                <h3>Storage #2</h3>

                <p id="pDisk2">HDD, 1000 GB</p>
            </div>


            <!--GPU=   = == = = == ========= == = = = = = = = = = = = = =-->
            <div class="recomendaciones-item">
                <img src="{% static 'img/iconoGPU.png' %}" alt="">
                <h3>GPU:</h3>

                <p id="pGpu">NVIDIA GeForce MX250</p>
            </div>

        </div>
        

         <!---DIV OPCIÓN #3 ======================================================================-->
         <div class="laptop tres">
            <div class="laptop-pcR">
                <h1>#3</h1>
            </div>

            <p>Lenovo</p>

            <div class="laptop-modelo-copy">

                <h1 id="modeloPC3">ThinkPad X1 Carbon 3</h1>
                <div>
                    <button id="btnGuardar">
                        <img src="{% static 'img/save.png' %}" alt="">
                    </button>
             
                    <button id="copyButton1">
                        <img src="{% static 'img/copy.png' %}" alt="">
                    </button>
                </div>
                
            </div>
            
            <!--CPU =   = == = = == ========= == = = = = = = = = = = = = =-->
            <div class="recomendaciones-item">

                <img src="{% static 'img/iconoCPU.png' %}" alt="">
                <h3>CPU:</h3>
                
                <p id="pcpu">Intel Core i7, 4 núcleos, 8 hilos</p>

            </div>

        
            <!--RAM =   = == = = == ========= == = = = = = = = = = = = = =-->

            <div class="recomendaciones-item">
                <img src="{% static 'img/iconoRam2.png' %}" alt="">
                <h3>RAM (GB):</h3>
                
                <p id="pRam">8</p>

            </div>

            <!--ALMACENAMIENTO=   = == = = == ========= == = = = = = = = = = = = = =-->
            <div class="recomendaciones-item">
                <img src="{% static 'img/iconoDisk.png' %}" alt="">
                <h3>Storage #1</h3>

                <p id="pDisk1">SSD, 512 GB</p>
            </div>

            <!--ALMACENAMIENTO=   = == = = == ========= == = = = = = = = = = = = = =-->
            <div class="recomendaciones-item">
                <img src="{% static 'img/iconoDisk.png' %}" alt="">
                <h3>Storage #2</h3>

                <p id="pDisk2">HDD, 1000 GB</p>
            </div>


            <!--GPU=   = == = = == ========= == = = = = = = = = = = = = =-->
            <div class="recomendaciones-item">
                <img src="{% static 'img/iconoGPU.png' %}" alt="">
                <h3>GPU:</h3>

                <p id="pGpu">NVIDIA GeForce MX250</p>
            </div>

        </div>
  
        
    </div>

   

{% endblock %}